header {
    height: 100px;
    width: 100%;
    background-color: red;
    color: blue;
    display: flex;
}

nav {
    display: flex;
    justify-content: space-evenly;
    width: 35%;
    height: 100%;

}

nav {
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 35%;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 2em;
}

#menu-wrapper, #about-wrapper {
    padding: 30px;
}

#menu-wrapper:hover #sub-menu {
    display: block;
    animation: slide-in .5s forwards;
}

#about-wrapper:hover #sub-about {
    display: block;
    animation: slide-in .5s forwards;
}

@keyframes slide-in {
    0% {
        top: 0;
        opacity: 0;
    }

    100% {
        top: 100px;
        opacity: 1;
    }
}

#sub-about, #sub-menu {
    display: none;
    position: absolute;
    left: 0;
    top: 100px;
    opacity: 0;
    width: 100%;
    height: 200px;
    background-color: white;
}

#nav-button {
    position: absolute;
    right: 20px;
    top: 20px;
    text-decoration: none;
    color: darkblue;
    padding: 20px;
    background-color: gold;
    border-radius: 10px;
    font-size: 1.5em;
}